apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "registry-operator.fullname" . }}
  labels:
    {{- include "registry-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "registry-operator.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "registry-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
